<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-style">
    <div class="container-fluid">
        <a class="navbar-brand ms-5" href="#" id="logo">JEET soft Tech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 pe-5 mb-lg-0">
                <li class="nav-item p-2">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" href="#">Service</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item dropdown p-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Login</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>